%div
  = simple_form_for @workout do |f|
    = f.input :title, label: "Typ treningu"
    = f.input :date, label: "Data"
    = f.input :time, label: "Czas treningu"
    = f.input :mood, label: "Nastrój"
    
    %br/
    
    = f.button :submit, "Zapisz trening", class: 'btn btn-primary'
